{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nasberry</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/override.css">
	{block head}{/block}
	
	{block scripts}
		<script src="{$basePath}/js/jquery.min.js"></script>
		<script src="{$basePath}/js/bootstrap.min.js"></script>
		<script src="{$basePath}/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/nette.ajax.js"></script>
	{/block}
</head>

<body>
 	{if $user->isInRole('admin')}
	<script>
		
		$(function(){
		    $.nette.init();
		    setTimeout(function(){ refresh() }, 1000);
		
		    function refresh(){
		        $.nette.ajax({
		            url: "?do=sysbar",
		            complete: function (payload) {
		                setTimeout(function(){ refresh() }, 1000);
		            }
		        });
		    }
		});
	</script>
	{/if}
	
	
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" n:href="Homepage:">NasBerry</a>
			</div>
				{if $user->loggedIn} 
					<ul class="nav navbar-nav">
						{if $user->isInRole('admin')}
							<li>
								<a n:href="Sign:up">
                                <span class="glyphicon glyphicon-envelope" />&nbsp; Invite
                                </a>
							</li>
                            <li>
                                <a n:href="Application:show">
                                    <span class="glyphicon glyphicon-list" />&nbsp; Applications
                                </a>
                            </li>
						{/if}
						<li>
							<a n:href="Drive:show">
                                <span class="glyphicon glyphicon-hdd" />&nbsp; Drives
                            </a>
						</li>
						<li>
							<a n:href="Samba:manage">
								<span class="glyphicon glyphicon-cloud" />&nbsp; Samba 
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">		
						<li>
							<a n:href="Sign:out">
								<span class="glyphicon glyphicon-log-out" />
								Logout
							</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="glyphicon glyphicon-user" />
								{$user->getIdentity()->username} 
								<span class="caret" />
							</a>
							<ul class="dropdown-menu">
                                <li><a n:href="User:pwdchange">Change password</a></li>
                                {if $user->isInRole('admin')}
								    <li><a n:href="User:adminSettings">Options</a></li>
                                {else}
								    <li><a href="#">Options non admin //TODO</a></li>
                                {/if}
							</ul>
						</li>
					</ul>
				{else}
                    <ul class="nav navbar-nav">
                        <li>
                                <a n:href="Application:apply">
                                    <span class="glyphicon glyphicon-file" />&nbsp; Apply for account</a>
                        </li> 
                    </ul>
					<ul class="nav navbar-nav navbar-right">	
						<li>
							<a n:href="Sign:in">
								<span class="glyphicon glyphicon-log-in" />&nbsp; Login</a>
						</li>
					</ul>
				{/if}
		</div>
	</nav>
    
    <div class="container" id="content-wrapper" >
        <div n:if="$user->isInRole('admin')" class="panel-group col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse1">System Status</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse {if (!$isSysbarCollapsed)} in {/if} panel-body">
                    <div class="col-sm-12 sysbar" n:snippet="sysbar">
                        {for $i=0; $i < $coreCount; ++$i}
                            <div class="col-sm-{$cpuProgress}">
                                <div class="progress">
                                    <span class="progress-value">Cpu{$i}: {$cpuUsages[$i]}%</span>
                                    <div class="progress-bar" style="width:{trim($cpuUsages[$i])}%">
                                    </div>
                                </div>
                            </div>
                        {/for}
                            <div class="col-sm-6">
                                <div class="progress">
                                    <span class="progress-value">Memory: {$ramUsage[0]}MB/{$ramUsage[1]}MB</span>
                                    <div class="progress-bar progress-bar-success" style="width:{trim($ramUsage[2])}%">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="progress">
                                    <span class="progress-value">   
                                        {if $swapUsage[1]==0}
                                        Swap: disabled
                                        {else}
                                        Swap: {$swapUsage[0]}MB/{$swapUsage[1]}MB
                                        {/if}
                                    </span>
                                    <div class="progress-bar progress-bar-warning" style="width:{trim($swapUsage[2])}%">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="progress">
                                    <span class="progress-value">ARM temp: {$temp[0]}°C</span>
                                    <div class="progress-bar progress-bar-danger" style="width:{$temp[0]}%">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>  
        </div>
    
        <div class="col-sm-12" n:snippet="flash">
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {$flash->message}
        </div>
        </div>
    	   {include content}
    </div>
    
    <footer>
            Copyright © Martin Procházka,
            <a n:href="Licence:show">Licence</a> <br>
            Powered by 
            <a href="https://nette.org/">Nette</a>,
            <a href="http://getbootstrap.com/">Bootstrap</a>,
            <a href="https://icons8.com/">Icons8 </a> <br>
            <a href="https://bitbucket.org/solow/nasberry/src"> $this->getSource()</a>
    </footer>
</body>
</html>
