{block content}
        <div class="col-sm-12">
    {if $user->loggedIn}
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    New here?
                </div>
                <div class="panel-body text-center">
                    <p class="paragraph">
                        Start by creating a share. <br>
                    </p>
                    <a n:href="Samba:manage" class="btn btn-info btn-lg" role="button">
                        <span class="glyphicon glyphicon-cloud" /> Samba
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-8">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Message board
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                    {foreach $messages as $msg}
                        <div class="row margin-bottom" >
                        <div class="col-sm-4 text-right">
                            {if ($user = $userManager->getUser($msg['authorId']))['role'] == "admin"}
                                <span class="glyphicon glyphicon-sunglasses"></span>
                            {/if}
                            <b>
                            {ucfirst($user['username'])}: <br>
                            </b>
                            {date_format($msg['time'],"d.m.Y, H:i")}
                        </div>
                        <div class="col-sm-8 no-left-side-paddings">
                        {$msg['message']}
                        </div>
                        </div>
                    {/foreach}
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        {control sendMessageForm}
                    </div>
                </div>
            </div>
        </div>
        
    {else}
        <div class="containerr">
        <div class="row">
            <div class="col-sm-6">
                <img src="./images/rasp-big.png" alt="image" class="img-responsive center-block">
            </div>
            
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        New here?
                    </div>
                    <div class="panel-body text-center">
                        <p class="paragraph">
                            Apply for an account. <br>
                        </p>
                        <a n:href="Application:apply" class="btn btn-warning btn-lg" role="button">
                            <span class="glyphicon glyphicon-file" /> Apply
                        </a>
                    </div>
                </div>
                
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Already have one?
                    </div>
                    <div class="panel-body text-center">
                        <p class="paragraph">
                        Sign in here.<br>
                        </p>
                        <a n:href="Sign:in" class="btn btn-success btn-lg" role="button">
                            <span class="glyphicon glyphicon-log-in" />  Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {/if}
        </div>
{/block}
