{block content}
<h1 n:block="title" class="text-center">Reset password</h1>

<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Pasword reset form
        </div>
        <div class="panel-body">
            {control resetForm}
        </div>
    </div>
</div>
    
{/block}