{block content}
	<h1 n:block=title>Activate <small>{$userName}</small></h1>
		
<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Set password
        </div>
        <div class="panel-body">	
    	   {control activationForm}
        </div>
    </div>
</div>
    
{/block}