

{block content}
    <script>
            setTimeout(function(){ refreshTable() }, 1000);
        
            function refreshTable(){
                $.nette.ajax({
                    url: "?do=refresh",
                    complete: function (payload) {
                        setTimeout(function(){ refreshTable() }, 5000);
                    }
                });
            }
    </script>
    
    
    <h1>Mounted drives</h1>
    
    <div class="col-sm-12">
    <div class="panel panel-warning">
        <div class="panel-heading">
            Mounted Hard Drives
        </div>
        <div class="panel-body no-side-paddings"> 
        {snippet table} 
        	{if $drives}
        		<table class='table table-striped table-hover'>
        		<thead>
                    <tr>
            			<th>Partition</th>
            			<th>Total</th>
            			<th>Used</th>
            			<th>Available</th>
            			<th>Used [%]</th>
            			<th>Mount point</th>
            			<th>Unmount</th>
                    </tr>
        		</thead>
        		<tbody>
        		{foreach $drives as $drive}
        			<tr>
        			{foreach $drive as $atribute}
        				<td>
        				{$atribute}
        				</td>
        			{/foreach}
        			<td>
        				<a class="ajax btn btn-xs btn-warning" n:href="umount! $drive[5]">
                        <span class="glyphicon glyphicon-eject"></span> Unmount</a>
        			</td>
        			</tr>
        		{/foreach}
                </tbody>
        		</table>
        	{else}
        		<h1>
        			No hard drive found.
        		</h1>
        	{/if}
        {/snippet}
        </div>
    </div>
    </div>
{/block}