{block content}
    <h1 n:block="title" class="text-center">Settings <small>Change password</small></h1>
        
<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            Change password form
        </div>
        <div class="panel-body"> 
            {control pwdChangeForm}
        </div>
    </div>
</div>
        
    
{/block}