{block content}
	<h1 n:block="title" class="text-center">Apply for user account</h1>
		
<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            Application form
        </div>
        <div class="panel-body">    	
            {control applyForm}
        </div>
    </div>
</div>
	
{/block}