{block content}
	<h1 n:block=title>Show applications</h1>

<div class="col-sm-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            Nasberry applications
        </div>
        <div class="panel-body no-side-paddings">    
    {snippet table}
        {if $applications!=[]}
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <a class="ajax btn btn-xs btn-info" n:href="refresh!">
                        <span class="glyphicon glyphicon-refresh"></span></a>
                    </th>
                    <th>Nickname</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {foreach $applications as $app}
                    <tr>
                    <td>{$app['id']}</td>
                    <td>{$app['username']}</td>
                    <td>{$app['email']}</td>
                    <td>
                        <a class="ajax btn btn-xs btn-success" n:href="accept! $app['id']">
                            <span class="glyphicon glyphicon-ok"></span> Accept</a>
                        <a class="ajax btn btn-xs btn-danger" n:href="reject! $app['id']">
                            <span class="glyphicon glyphicon-remove"></span> Reject</a>
                    </td>
                    </tr>
                {/foreach}
            </tbody>
            </table>
        {else}
            <h2>Nobody applies for account.</h2>
        {/if}
    {/snippet}
</div>
</div>
</div>
{/block}