{block content}
<h1 n:block="title" class="text-center">Sign in</h1>

<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            Nasberry login
        </div>
        <div class="panel-body">
        {control signInForm}
            <hr>
            <div class="text-center">
                <a n:href="Password:reset">Reset password</a>
            </div>
        </div>
    </div>
</div>

{* OR
{import '../components/form.latte'}
{include form signInForm}
*}
