{block content}
<h1 n:block="title" class="text-center">You have been signed out.</h1>

<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            Logout
        </div>
        <div class="panel-body text-center">
            <p class="paragraph">
            Sign in to another account. <br>
            </p>
            <a n:href="Sign:in" class="btn btn-success btn-lg" role="button">
                <span class="glyphicon glyphicon-log-in" /> Login
            </a>
        </div>
    </div>
</div>
