{block content}
<h1 n:block="title" class="text-center">Invite user</h1>

<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            Nasberry invitation
        </div>
        <div class="panel-body">
            {control signUpForm}
        </div>
    </div>
</div>
