{block content}
	<h1 n:block="title">Samba <small>settings</small></h1>
		
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                Add Share
            </div>
            <div class="panel-body">
                {control addForm}  
                <hr>
                Using name of existing share will edit it. To select or deselect multiple users, use use <kbd>Ctrl+lmb</kbd>.
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Remove Share
            </div>
            <div class="panel-body">
                {if $hasShares}
                    {control removeForm}
                    <hr>
                    Use <kbd>Ctrl+lmb</kbd> to select or deselect multiple shares.
                {else}
                    <div class="lead">
                        There are currently no shares.
                    </div>
                {/if}  
            </div>
        </div>
    </div>
{/block}