html{
	position: relative;
	min-height: 100%;
}

body{
	margin-bottom: 80px;
}

.sysbar {
	padding-top: 15px;
}

.container {
	padding: 0;
}

.progress {
    text-align:center;
}
.progress-value {
    position:absolute;
    right:0;
    left:0;
}

.navbar{
	border-radius: 0px;
}

footer{
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 70px;
  	padding: 5px;
  	background-color: #f5f5f5;
  	text-align: center;
}

h1{
	margin: 15px;	
}

hr{
	border-top: 1px solid #c8c8c8;
}

.table{
	margin: 0px;
}

.no-side-paddings{
	padding-left: 0px;
	padding-right: 0px;	
}

.no-left-side-paddings{
	padding-left: 0px;
}

.margin-bottom{
	margin-bottom: 15px;
}

#content-wrapper{
	//padding: 15px;
}